extends placeholders/header.pug
block content
	style#clock-animations.
	link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
	.clock-div
		.clock-wrapper
			.clock-base
				.click-indicator
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
				.clock-hour
				.clock-minute
				.clock-second
				.clock-center
	.alarm-div.col-xs-10
		a.a-list.col-xs-4.form-group
			button.btn.btn-primary.btn-lg 09:00 AM
			label.switch
				input(type="checkbox")
				span.slider.round
		a.a-list.col-xs-4.form-group
			button.btn.btn-primary.btn-lg 09:00 AM
			label.switch
				input(type="checkbox")
				span.slider.round
		a.a-list.col-xs-4.form-group
			button.btn.btn-primary.btn-lg 09:00 AM
			label.switch
				input(type="checkbox")
				span.slider.round
		a.a-list.col-xs-4.form-group
			button.btn.btn-primary.btn-lg 09:00 AM
			label.switch
				input(type="checkbox")
				span.slider.round
		a.a-list.col-xs-4.form-group
			button.btn.btn-primary.btn-lg 09:00 AM
			label.switch
				input(type="checkbox")
				span.slider.round
	script(type='text/javascript', src='javascripts/index.js')
