#timeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Skill-testing Alarm-Clock
      .modal-body
        h5(style='margin: 0') <ul style="margin: 0">
          |   <li>Set Alarm Time</li>
          |   <li>Select repeating days</li>
          |   <li>Choose Difficulty</li>
          | </ul>
        form#timeForm.form-horizontal.col-sm-12(action="/alarm/set", method="post", role="form")
          .form-group.col-sm-5(style='margin-top: 30px')
            .input-group.bootstrap-timepicker.timepicker
              input.timepicker1.form-control.input-small(type="text")
              span.input-group-addon
                i.glyphicon.glyphicon-time
          .form-group.btn-group.col-sm-6.weekdays(data-toggle="buttons")
            label.btn.btn-default.btn-circle
              input#option1(type="checkbox", autocomplete="off", checked="")
              |  S
            label.btn.btn-default.btn-circle
              input#option2(type="checkbox", autocomplete="off")
              |  M
            label.btn.btn-default.btn-circle
              input#option3(type="checkbox", autocomplete="off")
              |  T
            label.btn.btn-default.btn-circle
              input#option1(type="checkbox", autocomplete="off")
              |  W
            label.btn.btn-default.btn-circle
              input#option2(type="checkbox", autocomplete="off")
              |  T
            label.btn.btn-default.btn-circle
              input#option3(type="checkbox", autocomplete="off")
              |  F
            label.btn.btn-default.btn-circle
              input#option3(type="checkbox", autocomplete="off")
              |  S
          .form-group.btn-group.col-sm-12.difficulty-level(data-toggle="buttons")
            label.btn.btn-info.active
              input#option1(type="radio", autocomplete="off", checked="")
              |  Easy
            label.btn.btn-info
              input#option2(type="radio", autocomplete="off")
              |  Medium
            label.btn.btn-info
              input#option3(type="radio", autocomplete="off")
              |  Hard
          .form-group
            button.btn.btn-success.pull-right(type='submit', style='margin-left: 1em;') Set Alarm
            button.btn.pull-right(data-dismiss='modal', aria-hidden='true') Cancel     
      .modal-footer

