.upload-div {
	text-align: center;
}

.file-button {
	width: 20%;
	display: inline-block !important;
}

.upload-button {
	margin-left: 1em;
	display: inline-block;
    border-color: gray;
}

.upload-button:hover {
	background: transparent;
	border-color: #3ba024;
}