.upload-div {
	text-align: center;
}

.file-button {
	width: 20%;
	display: inline-block !important;
}

.upload-button {
	margin-left: 1em;
	display: inline-block;
    border-color: gray;
}

.upload-button:hover, .upload-button:focus, .upload-button:active {
	background: transparent !important;
	border-color: #3ba024 !important;
	outline: none !important;
}