#triggerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Wake Up! It's 05:00 PM!!!
      .modal-body
        h4 Q. This is the Question?
        h4 A) Hello B) Loop  
      .modal-footer
        h5 Use keypad to answer question

