#triggerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myTriggerModalLabel
      .modal-body
        h5#question
        h5#op1.row.option-row
        h5#op2.row.option-row
        h5#op3.row.option-row
        h5#op4.row.option-row
      .modal-footer
        h6#triggerFooter Use keypad to answer question

