link(href="/stylesheets/navbar.css", rel="stylesheet")
nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#")
                | Megatron
        ul.nav.navbar-nav
            li
                a.active(href="/") Home
            li
                a(href="/alarmSound") Change Alarm Sound