extends placeholders/header.pug
block content
	style#clock-animations.
	link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
	include ./mixins/alarm-item.pug
	.clock-div
		.clock-wrapper
			.clock-base
				.click-indicator
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
				.clock-hour
				.clock-minute
				.clock-second
				.clock-center
	.alarm-div.col-xs-10
		- for (let i = 0; i < alarms.length; i++) {
			+alarm-item(alarms[i].time, alarms[i].level, alarms[i].identification, alarms[i].statusOn, alarms[i])
		- }
		if (alarms.length < 12)
			a.a-list.col-xs-4.form-group.add-icon
				button#createBtn.btn.btn-default.btn-circle-lg(href='#', data-toggle='modal', data-target='#timeModal')
					i.glyphicon.glyphicon-plus
	script(type='text/javascript', src='javascripts/index.js')
